header {
    background-color: rgb(80, 89, 113);
    width: 100%;
    text-align: center;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 132, 169);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    overflow-x: auto;

}

.colorGroup {
    margin: 20px;
    padding: 15px;
    background-color: rgb(89, 101, 137);
    height: 200px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.colorBlock {
    background-color: black;
    width: 150;
    aspect-ratio: 1;
}

.colorDesc {
    padding: 5px;
}


.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: white;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: rgb(207, 207, 207);
}

button:active {
    background-color: rgb(144, 144, 144);
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(63, 70, 89);
    color: white;
    padding: 10px;
}